body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #00ff00, #800080); 
    opacity: .3; 
    z-index: -1;
}

.header-bg {
    background-color: #1e1e2f;
    color: #feca57;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #feca57;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.card {
    position: relative;
    flex: 1;
    border: 2px solid #00ff00;
    background-size: cover;
    background-position: center;
    border-radius: 0.75rem;
    overflow: hidden;
}

.card:hover .overlay {
    opacity: 1;
}

.container {
    height: calc(100vh - 112px);
    overflow: hidden;
    padding: 0;
}

.row-main {
    display: flex;
    height: 100%;
    gap: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.col .nested-row {
    display: flex;
    gap: 10px;
    flex: 1;
}

.col .nested-row.single .col {
    flex: 1;
}

.joker-title {
    color: #a29bfe;
    font-family: 'Creepster', cursive;
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px #00ff88;
}
  

  .joker-btn {
    color: #a29bfe;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 2px solid #a29bfe;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    font-family: 'Creepster', cursive;
}

.joker-btn:hover {
    background-color: rgba(0, 255, 0, 0.2); 
    color: #00ff88;
    box-shadow: 0 0 10px #00ff88;
    text-shadow: 1px 1px #800080;
}





